.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
}

.poster {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background:rgba(0,0,0,0.4);
}

.content-text {
  position: relative;
  max-width: 70%;
  text-align: center;
  top: 20%
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  line-height: 1;
}

.hero-title-span1 {
  font-size: 30px;
}

.hero-title-span2 {
  font-size: 35px;
}

.hero-subtitle {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #d7d6d5;
  line-height: 1;
}

/* Laptop and desktop */
@media only screen 
  and (min-width: 1024px) {

  .hero-title-span1 {
    font-size: 38px;    
  }

  .hero-title-span2 {
    font-size: 50px;    
  }

  .hero-subtitle {
    font-size: 25px;
  }
}

