.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
}

.poster {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content {
  display: flex;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background:rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 40px;
  line-height: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media(min-width: 769px) {
  .hero-title {
    font-size: 50px;
    line-height: 55px;
  }
}
