.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  height: 100vh;
}

.text-container {
  text-align: center;
}

.destinations-title {
  margin-top: 30px;
}

.destinations-subtitle {
  text-align: center;
  margin: 20px 0px;
  font-size: 18px;
  line-height: 1;
}

.slider-container {
  width: 100vw;
  flex-grow: 1;
  overflow: hidden;
}

/* Laptop and desktop */
@media only screen 
  and (min-width: 1024px) {
  .destinations {
    flex-direction: row;
  }

  .destinations > div {
    padding: 0 5%;
  }

  .text-container {
    width: 35%;
  }

  .slider-container {
    width: 65%;
    height: 80%;
  }
}