.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  height: 100vh;
}

.destinations-title {
  margin-top: 30px;
}

.destinations-subtitle {
  text-align: center;
  margin: 20px 0px;
  font-size: 18px;
  line-height: 1;
}
